/* ########################################################################################### */
/* ###########################              Imports         ################################### */
/* ########################################################################################### */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ########################################################################################### */
/* ###########################              Variables         ################################### */
/* ########################################################################################### */

:root {
    --font-mont: 'Montserrat', sans-serif;
    --font-abril: "Abril Fatface", serif;
    --black-color: black;
    --black-color-hover: rgba(0, 0, 0, 0.5);
    --white-color: white;
    --white-color-hover: rgba(255, 255, 255, 0.6);
}

/* ########################################################################################### */
/* ###########################           Starter Row       ################################### */
/* ########################################################################################### */

.page-wrapper {
    .container {
        .placeholder-row {
            .placeholder-container {
                background-color: rgb(34,34,34);
                height: 50dvh;
                .header {
                    color: var(--white-color);
                    font-size: 34px;
                    font-weight: 700;
                    font-family: var(--font-abril);
                }
            }
        }
    }
}